[tool.black]
line-length = 88
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.coverage.run]
branch = true
parallel = true
concurrency = ["multiprocessing"]
command_line = "-m pytest --verbose Test"
source = ["netket"]

[dev-dependencies]
black = { version = "^18.3-alpha.0", python = "^3.6" }
pre-commit = ">= 2.7"
pytest = ">= 6"
pytest-xdist = ">= 2"
coverage = ">= 5"

[build-system]
requires = ["setuptools", "wheel"]

[tool.pytest.ini_options]
addopts = "--color=yes --durations=0 -n auto"
filterwarnings = [
    "ignore::UserWarning",
]
testpaths = [
    "Test",
]
