.bs-sidenav {
  position: fixed;
  max-height: 80%;
  border-radius: 15px;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 10 px;
}

.bs-sidenav li.current ul {
  display: block;
}
.bs-sidenav li ul {
  margin-bottom: 0;
  display: none;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidenav .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidenav */
  .bs-sidenav.affix,
  .bs-sidenav.affix-top,
  .bs-sidenav.affix-bottom {
    width: 213px;
  }
  .bs-sidenav.affix {
    position: fixed; /* Undo the static from mobile first approach */
  }
  .bs-sidenav.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidenav.affix-bottom .bs-sidenav,
  .bs-sidenav.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidenav again */
  .bs-sidenav.affix-bottom,
  .bs-sidenav.affix-top,
  .bs-sidenav.affix {
    width: 263px;
  }
}
/*.current.nav.nav-list {
  padding-left: 5px;
}*/

/*.reference.internal.nav-header::before {
  content: "";
  font-family: "FontAwesome";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  position: relative;
  left: -5px;
}

.current.reference.internal.nav-header::before {
  content: ""; 
  visibility: visible;
}

.toctree-l1 > .nav-header:hover {
  color:red;
}*/

.sidenav-header {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.footer-wip {
  background: #61707c;
  border-radius: 30px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  right: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wip-content {
  color: white;
}

.py.function {
  border-style: groove;
}

.class-dl-groups,
.py.class,
.py.function,
.py.attribute,
.py.method {
  border: 1px solid #dbdbdb;
  box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1);
  margin-bottom: 1em;
}

.class-dl-groups > dt,
.py.class > dt,
.py.function > dt,
.py.attribute > dt,
.py.method > dt {
  background-color: whitesmoke;
  border-bottom: 1px solid #dbdbdb;
  padding: 0.75rem;
  /*font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
}

.class-dl-groups > dt {
    font-variant: small-caps;
    font-weight: bold;
}

.sig-name.descname {
  color: #2e63b8;
}

.class-dl-groups > dd,
.py.class > dd,
.py.attribute > dd,
.py.function > dd,
.py.method > dd {
  padding: 1rem 1.25rem;
}

td {
  overflow-wrap: break-word;
  hyphens: none;
}

/* Custom list bullets */

ul.simple > li > ul > li {
  margin-left: 20px;
}

ul.simple > li > ul > li > ul > li{
  margin-left: 20px;
}