

.header-container {
  background-color: black;
  background: url('bg.jpg') no-repeat 50% 0;
  color: #fff;

  h1 {
    color: #fff;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -37px;

}


table {
    // border-collapse: collapse;
    border: groove;
    width: 100%;
}
