name: CI

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: "3.9"
            mpi: ""
            doctest: true
            oldest_deps: false

          - os: ubuntu-latest
            python-version: "3.11"
            mpi: ""
            main_tests: true
            oldest_deps: false

          - os: macos-latest
            python-version: "3.10"
            mpi: "mpich"
            main_tests: true
            oldest_deps: false

          - os: macos-latest
            python-version: "3.10"
            mpi: ""
            main_tests: true
            oldest_deps: false
            env: NUMBA_BOUNDSCHECK=1

        # python-version: [3.9, 3.10, 3.11]
        # os: [ubuntu-latest, macos-latest]

    env:
      MPICH_INTERFACE_HOSTNAME: localhost
      USE_MPI: ${{ matrix.mpi }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-tags: true

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup MPI
        uses: mpi4py/setup-mpi@v1
        if: matrix.mpi != ''
        with:
          mpi: ${{ matrix.mpi }}

      - name: Get pip cache dir
        id: pip-cache
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel
          echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT

      - name: Pip install packages
        if: ${{ ! matrix.oldest_deps }}
        run: |
          pip install jaxlib
          if [ -z "${{ matrix.mpi }}" ]; then
            pip install -e ".[dev,extra,pyscf]"
          else
            pip install -e ".[dev,mpi]"
          fi
          pip install dm-haiku

      - name: Netket tests
        if: ${{ matrix.main_tests }}
        run: |
          export NETKET_EXPERIMENTAL=1
          pytest --cov=netket --cov-append test

      - name: NetKet docstring tests
        if: ${{ matrix.doctest }}
        run: |
          pytest --doctest-continue-on-failure --doctest-modules netket/

      - name: MPI tests
        if: matrix.mpi != ''
        run: |
          mpirun -host localhost:2 -np 2 coverage run -m pytest -n 0 test
          coverage combine --append

      - name: Upload coverage reports to Codecov
        if: always()
        uses: codecov/codecov-action@v3
